a{
    text-decoration:none;
    display: block;
    margin: 5% 5%;
}

button{
    border: none;
    background-color: #428AF8;
    color: white;
    margin: 2% 5%;
    padding: 4% 6%;
}
li{
    list-style:none;
    border: 1px solid;
    margin: 4%;
}

form{
    display:inline;
}

form #search {
    margin: 3%;
}

ul{
    padding:0
}

input{
    margin:4%;
}