boto3           
botocore        
click          
dnspython       
docutils==0.10       
Flask         
itsdangerous   
Jinja2         
jmespath        
MarkupSafe    
pip            
pymongo      
python-dateutil 
s3transfer     
setuptools  
six            
urllib3       
Werkzeug
gunicorn==19.9.0       