<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of tags</title>
</head>

<body>
    <ul>
        {% for tag in tags %}
        <li>
            {{tag}}
            <form action="/videos/deletetags/{{id}}/{{tag}}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <form action="/videos/addtags/{{id}}" method="POST">
        <input type="text" name="tag" placeholder="Tag" />
        <button type="submit">Add</button>
    </form>

    <form action="/videos">
        <button type="submit">Home</button>
    </form>



</body>

</html>